*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
:root{
    font-size: 16px;
    font-family: sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 0.3s;
}
main{ /* Putting the nav side bar. THE WHOLE PAGE is affected*/
    margin-left: 5rem;
}





/* Button Style */
button{
    background-color: transparent;
    color: white;
    border: 2px solid blueviolet;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
    margin-top: 5px;

}
button:hover{
    background-color: transparent;
    border: 2px solid orange;
    color: orange;
    transition: .4s;
    cursor: pointer;
}

/* -------------------------------------------- */


/* Animation fade page */
.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}


@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}


.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* Project Card's Transition speed */
.card:nth-child(1){
    transition-delay: 200ms;
}
.card:nth-child(2){
    transition-delay: 400ms;
}
.card:nth-child(3){
    transition-delay: 600ms;
}

/* -------------------------------------------- */








/* Background for all pages*/

.banner{ /*Background image Home*/
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.6)), url(../Images/MainHomePage.gif);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    display: grid;
    place-items: center center;
    /* border: 1px solid red; */
}

.banner1{ /*Background image for About*/
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(#212128, #212128);
    background-size: cover;
    background-position: center;

    display: grid;
    place-items: center center;
    /* border: 1px solid red; */
}

.banner2{ /*Background for Skills*/
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#282d3d, #282d3d);
    background-size: cover;
    background-position: center;

    display: grid;
    place-items: center center;
    /* border: 1px solid red; */
}

.banner3{ /*Background image for Projects*/
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#212128, #212128);
    background-size: cover;
    background-position: center;

    display: grid;
    place-items: center center;
    font-family: 'Poppins', sans-serif;
    /* border: 1px solid red; */
}

.banner4{ /*Background for Recommendation*/
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#282d3d, #282d3d);
    background-size: cover;
    background-position: center;

    display: grid;
    place-items: center center;
    /* border: 1px solid red; */
}

.banner5{ /*Background image for Contact*/
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)), url(../Images/MainHomePage.gif);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: 1px solid red; */
}

.banner6{ /*Footer*/
    width: 100%;
    height: 100vh;
    /* background-image: linear-gradient(#0f4cc8fb, #0f4cc8fb); */
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

@media (min-aspect-ratio: 16/9){
    .banner,
    .banner1,
    .banner2,
    .banner3,
    .banner4,
    .banner5,
    .banner6{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .banner,
    .banner1,
    .banner2,
    .banner3,
    .banner4,
    .banner5,
    .banner6{
        width: auto;
        height: 100%;
    }

}

/* -------------------------------------------- */







/* Navagation bar */
.navbar{
    position: fixed;
    background-color: var(--bg-primary);
    z-index: 169;
    transition: width 200ms ease;
    height: 100%;
}
.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.nav-item{
    width: 100%;
}
/* Last item to the bottom*/
.nav-item:last-child{
    margin-top: auto;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem; /* Same as main rem*/
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}
.nav-link:hover{
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}
.link-text{
    display: none;
    margin-left: 1rem; /* nav text placement */
}
.nav-link ion-icon{
    min-width: 2rem;
    font-size: 2rem; /* icon size */
    margin: 0 1.5rem;
    z-index: 1;
}
.navbar:hover .NavLogo ion-icon{
    width: 16rem;
    display: none;
}
.navbar:hover .link-text{
    display: block;
}
/* Main Logo */
.NavLogo{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.3rem; /* 1.5*/
    letter-spacing: 0.3ch;
    width: 100%;
}
.NavLogo:hover ion-icon{ /* Hide the main logo */
    display: none;
}
.logo-text{ /* text animation For Francis Tran Text */
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}
.navTextAnimate{
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}
.navbar:hover .NavLogo ion-icon{
    transform: rotate(-180deg);
}


/* Small screen */
@media only screen and (max-width: 600px){

    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }
    .nav-item:last-child{
        margin-top: 0;
    }
    
    .NavLogo {
        display: none;
    }
    
    .navbar-nav {
        flex-direction: row;
    }
    
    .nav-link {
        justify-content: center;
    }
    
    main {
        margin: 0;
        margin-bottom: 5rem;
    }

    .link-text{
        display: none;
        align-items: center;
        text-align: center;
        position: absolute;
    }
    .navbar:hover .link-text{
        display: none;
    }
    .nav-link ion-icon{
        min-width: 0.5rem;
        font-size: 1.1rem; /* icon size */
    }
    
}

/* Large Screen*/
@media only screen and (min-width: 600px){
    .navbar{
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover{
        width: 16rem;
    }
    .navbar:hover .link-text{
        display: inline;
        
    }

    .navbar:hover .NavLogo ion-icon{
        margin-left: 11rem;
    }

    .navbar:hover .logo-text{
        left: 0px;
    }
    .navbar:hover .navTextAnimate{
        left: 80px;
    }
}



/* -------------------------------------------- */


























/* Website text/HOME page */

.content{
    width: 100%;
    justify-content: center;
    text-align: center;
    color: white;
}
.content h1{
    font-size: 70px;
    color: orange;
}
/* -------------------------------------------- */










/* about page */
.AboutContainer{
    width: 100%;
    min-height: 100vh;
}
.AboutContainer .AboutTitle{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 22px;
    color: white;
    letter-spacing: 1.5px;
    padding: 50px 0px;
    font-weight: bold;
}
.AboutContent{
    width: 85%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    margin: 30px auto;
}
.AboutContent .AboutArticle{
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
    background-color: #1c1b29;
    padding: 25px 25px;
    border-radius: 25px;
}
.AboutContent .AboutArticle h2{
    color: orange;
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: 1px;
}
.AboutContent .AboutArticle p{
    margin-top: 30px;
    font-size: 19px;
    line-height: 1.5;
    color: white;
}
.AboutContent .AboutArticle a{
    font-size: 22px;
    text-decoration: none;
    display: inline-block;
    padding: 12px 35px;
    border-radius: 25px;
    color: #fff;
    letter-spacing: 1.5px;
    margin-top: 35px;
}

.AboutImage{
    width: 69%;
    margin: auto;
    text-align: center;
}
.AboutImage img{
    width: 75%;
    height: 75%;
    border-radius: 25%;
    border: 10px solid orange;
}
@media screen and (max-width: 900px){
    .AboutContent{
        grid-template-columns: repeat(1, 1fr);
    }
}
.AboutArticle{
    text-align: center;
}
.AboutArticle .AchieveAward img{
    width: 10%;
    height: 10%;
    object-fit: cover;
    margin-top: 15px;
    /* border: 1px solid red; */
}
.AboutArticle .AchieveAward{
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.AboutArticle .AchieveAward p{
    color: orange;
}

.AboutArticle ul li{
    color: white;
    text-align: left;
    text-decoration: none;
}


/* -------------------------------------------- */













/* Skills section*/
.SkillsInner{
    padding-top: 0px;
}

.SkillsInner .Skillsheader{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 22px;
    color: white;
    letter-spacing: 1.5px;
    padding: 50px 0px;
    font-weight: bold;
}
.Skillscontainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}

.skill-box{
    padding: 1rem;
    color: #ddd;
    /* border: 1px solid red; */
}
.skill-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}

.skill-title:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 4px;
    border-radius: 2px 0 0 2px;
    
    transition: .5s;
}
.skill-title:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    border-radius: 0 2px 2px 0;
    
    transition: .5s;
}

.skillimg{
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 45px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    border: 5px solid orange;
}
.skillimg:after{ /* Gray Shade*/
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 80px;
    background: rgba(100, 100, 100, 0.5);
    border-radius: 50px 0 0 50px;
}

.skill-title h3{
    color: #fff;
    margin-top: 0.5rem;
}

.skill-icon{
    width: 55px;
    z-index: 2;
}

@media screen and (max-width: 990px){
    .Skillscontainer{
        grid-template-columns: repeat(3, 1fr);
        padding: 2rem 0px;
    }
}
@media screen and (max-width: 650px){
    .Skillscontainer{
        grid-template-columns: repeat(2, 1fr); /* 1fr*/
    }
}
@media screen and (max-width: 290px){
    .Skillscontainer{
        grid-template-columns: 1fr; /* 1fr*/
    }
}


/* -------------------------------------------- */












/* Project Section */

.projectTitle{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 22px;
    color: white;
    letter-spacing: 1.5px;
    padding: 50px 0px;
    font-weight: bold;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr)); /* Size of the card*/
    padding: 20px;
    grid-gap: 40px;
    margin-top: 10px;
}
.card{
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
}

.containerCard{
    position: relative;
    clip-path: polygon(0 0,100% 0,100% 85%, 0 100%);
}

.containerCard img{
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 20px 20px 0 0;
}

.containerCard:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}

/* List of cards*/
.card0>.containerCard:after,
.card1>.containerCard:after,
.card2>.containerCard:after,
.card3>.containerCard:after{
    background-image: linear-gradient(
        135deg,
        #0f4cc8fb,
        white
    );
}

.details{
    padding: 20px 10px;
}
.details>h1{
    color: white;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
}
.details>p{
    color: white;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}

/* Deails Image for languages */
.details img{
    width: 13%;
    height: 13%;
    object-fit: cover;
}

#FlaskIMG{
    background-color: white;
}

.details p a{
    color: blueviolet;
    text-decoration: underline;
}
.details p a:hover{
    color: orange;
}
/* -------------------------------------------- */


















/* Recommendations Page */
.Rwrapper{
    max-width: 1500px;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
.Rwrapper .RBox{
    padding: 25px;
    width: calc(50% - 10px); /*33 and 10px */
    background: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
    color: white;
}
.Rwrapper .RBox i.RBookMark{
    font-size: 20px;
    color: orange;
}

.Rwrapper .RBox .Rcontent{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.RBox p{
    line-height: 30px;
}
.Rwrapper .RBox .Rinfo .Rname{
    font-size: 17px;
    font-weight: 600;
}
.Rwrapper .RBox .Rinfo .Rjob{
    color: orange;
    font-size: 16px;
    font-weight: 500;
}

.Rwrapper .RBox .Rcontent .Rimage{
    height: 75px;
    width: 75px;
    background: blueviolet;
    border-radius: 50%;
    
}
.RBox .Rcontent .Rimage img{
    height: 75px;
    width: 75px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid orange;
}

@media (max-width: 1045px){
    .Rwrapper .RBox{
        width: calc(50% - 10px);
        margin: 10px 0;
    }
}

@media (max-width: 702px){
    .Rwrapper .RBox{
        width: 100%;
    }
}

.RecTitle{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 22px;
    color: white;
    letter-spacing: 1.5px;
    padding: 50px 0px;
    font-weight: bold;
}

/* -------------------------------------------- */
















/* Contact page */

.contactUs{
    position: relative;
    width: 100%;
    padding: 40px 100px;
}
.contactUs .ContactTitle{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 22px;
    color: white;
    letter-spacing: 1.5px;
    padding: 30px 0px;
    font-weight: bold;


}
.contactUs .ContactTitle h2{
    color: white;
    font-weight: bold;
}
.ContactBox{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info"
    "form map";
    grid-gap: 20px;
    margin-top: 20px;
}
.Cform{
    grid-area: form;
}
.Cinfo{
    grid-area: info;
}
.Cmap{
    grid-area: map;
}
.Ccontact{
    padding: 40px;
    background: #1c1b29;
    box-shadow: 0 5px 35px rgba(0,0,0,0.15);
    border-radius: 25px;
}

.Ccontact h3{
    color: white;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;

    text-align: left; /* Align to the left*/
}
/* Form */
.formBox{
    position: relative;
    width: 100%;
}
.formBox .row50{
    display: flex;
    gap: 20px;
}
.inputBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}
.formBox .row100 .inputBox{
    width: 100%;

}
.inputBox span{
    color: orange;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;

    text-align: left; /*align the text to the left */
}
.inputBox input{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
}
.inputBox textarea{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}
.inputBox input[type="submit"]{
    background: transparent;
    color: white;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
    border: 2px solid blueviolet;
    font-weight: bold;
}

.inputBox input[type="submit"]:hover{
    background: transparent;
    border: 2px solid orange;
    color: orange;
}


.inputBox::placeholder{
    color: #999;
}
/* Info */
.Cinfo{
    background: #1c1b29;
}
.Cinfo h3{
    color: #fff;
}
.Cinfo .infoBox div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.Cinfo .infoBox div span{
    min-width: 40px;
    height: 40px;
    color: #fff;
    background: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}
.Cinfo .infoBox div p{
    color: #fff;
    font-size: 1.1em;
}
.Cinfo .infoBox div a{
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}
.sci{
    margin-top: 40px;
    display: flex;
}
.sci li{
    list-style: none;
    margin-right: 15px;
}
.sci li a{
    color: #fff;
    font-size: 2em;
    color: #ccc;
}
.sci li a:hover{
    color: #fff;
}

/* Responsive */
@media only screen and (max-width: 1135px){/* 991 */

    .contactUs{
        padding: 20px;
    }
    .ContactBox{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "form"
        "info"
        "map";
    }
    .formBox .row50{
        display: flex;
        gap: 0;
        flex-direction: column;
    }
    .inputBox{
        width: 100%;
    }
    .Ccontact{
        padding: 30px;
    }
    .Cmap{
        min-height: 300px;
        padding: 0;
    }
}


/* -------------------------------------------- */














/* Footer */

footer{
    position: relative;
    width: 100%;
    background: #1c1b29;
    min-height: 69px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .social_icons,
footer .Fmenu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social_icons li,
footer .Fmenu li{
    list-style: none;
}
footer .social_icons li a{
    font-size: 2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .social_icons li a:hover{
    transform: translateY(-10px);
    color: #0f4cc8fb;
}
footer .Fmenu li a{
    font-size: 1.2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}
footer .Fmenu li a:hover{
    opacity: 1;
    color: white;
}

footer p{
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}
footer .FooterCred{
    color: orange;
    font-size: 12px;
}
footer .FooterCred a{
    color: blueviolet;
    text-decoration: underline;
}
footer .FooterCred a:hover{
    color: orange;
}

/* -------------------------------------------- */
