@tailwind base;
@tailwind components;
@tailwind utilities;

/* Change Theme based on holidays */
/* Default Variables */
:root {
  /* Titles */
  --shiny-color: #00ccff;
  --shiny-color-light: #cef5ff;

  /* sub-titles */
  --primary-main-color: 193 100% 50%;

  /* Card itself */
  --card-main-bg: 222.2 50% 10%;

  /* Skills card */
  --skills-card-bg: #0C1426;
}


@layer base {
  .dark {
    --background: 0 0% 0%;
    --foreground: 210 40% 98%;
    --card: var(--card-main-bg); /* Change the background of the card based on holiday */
    --card-foreground: 210 40% 98%;
    --popover: 222.2 50% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: var(--primary-main-color); /* Sub titles Color change based on holiday */
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 0 0% 100%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --radius: .5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

body {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.08) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.08) 1px, transparent 1px);
  background-size: 40px 40px;
  background-attachment: fixed;
}

.nav-indicator {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
  height: 1px;
  width: 2rem;
  background-color: #64748b;
  transition: all 0.15s ease-in-out;
}

.group:hover .nav-indicator,
.group:focus-within .nav-indicator {
  width: 4rem;
  height: 2px;
  background-color: #0d1426;
}

.nav-indicator.active,
.group .nav-indicator.active {
  width: 4rem;
  height: 2px;
  background-color: #0d1426;
}

.dark .group:hover .nav-indicator,
.dark .group:focus-within .nav-indicator {
  background-color: #e2e8f0;
}

.dark .nav-indicator.active,
.dark .group .nav-indicator.active {
  background-color: #e2e8f0;
}

.shiny {
  font-weight: bold;
  background: linear-gradient(90deg, var(--shiny-color), var(--shiny-color-light), var(--shiny-color));
  background-size: 200% auto;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: shine 6s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 200% center;
  }

  100% {
    background-position: -200% center;
  }
}


/* Each spark segment */
.click-burst li {
  padding: 0;
  width: 0;
  height: 0;
  position: absolute;
  left: auto;
  right: auto;
}

/* Top (vertical) */
.click-burst li:first-child {
  left: 50%;
  top: -22px;
  width: 1px;
  border-left: 1px solid beige;
  animation: vert 0.25s linear;
}

/* Bottom (vertical) */
.click-burst li:nth-child(2) {
  left: 50%;
  bottom: -22px;
  width: 1px;
  border-left: 1px solid beige;
  animation: vert 0.25s linear;
}

/* Left (horizontal) */
.click-burst li:nth-child(3) {
  left: -6px;
  top: 11px;
  height: 1px;
  border-bottom: 1px solid beige;
  animation: horiz 0.25s linear;
}

/* Right (horizontal) */
.click-burst li:nth-child(4) {
  right: -6px;
  top: 11px;
  height: 1px;
  border-bottom: 1px solid beige;
  animation: horiz 0.25s linear;
}

/* Diagonals */
.click-burst li:nth-child(5) {
  left: 0px;
  top: -11px;
  rotate: 45deg;
  height: 1px;
  border-bottom: 1px solid beige;
  animation: horiz 0.25s linear;
}
.click-burst li:nth-child(6) {
  right: 0px;
  top: -11px;
  rotate: -45deg;
  height: 1px;
  border-bottom: 1px solid beige;
  animation: horiz 0.25s linear;
}
.click-burst li:nth-child(7) {
  left: 0px;
  bottom: -11px;
  rotate: -45deg;
  height: 1px;
  border-bottom: 1px solid beige;
  animation: horiz 0.25s linear;
}
.click-burst li:nth-child(8) {
  right: 0px;
  bottom: -11px;
  rotate: 45deg;
  height: 1px;
  border-bottom: 1px solid beige;
  animation: horiz 0.25s linear;
}

/* Keyframes from the post */
@keyframes vert {
  from { height: 22px; }
  to   { height: 0px; }
}
@keyframes horiz {
  from { width: 22px; }
  to   { width: 0px; }
}