*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

button{
    background-color: transparent;
    color: white;
    border: 5px solid rgb(0, 95, 190);
    text-decoration: none;
    padding: .5em 1.5em;
    border-radius: .5em;
    font-size: 1em;
    font-weight: bold;
}
button:hover{
    border: 5px solid orange;
    color: orange;
    transition: .4s;
    cursor: pointer;
}
.backbutton{
    text-align: center;
    margin: 1em;
}





body{
    background-color: #212128;
}

.Thankyou h1{
    color: orange;
    text-align: center;
    margin: 1em;
}
.Thankyou h4{
    color: white;
    text-align: center;
}
.PikachuImage{
    margin: 0 auto;
    text-align: center;
}
.PikachuImage img{
    width: 100%;
    max-width: 20em;
    border-radius: 1em;
    border: 5px solid rgb(0, 95, 190);
}