body{
    background-color: #212128;
    color: white;
    font-family: sans-serif;
    text-decoration: none;
}

/* Button Style */
button{
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;

    padding: 1em 2em;
    border: 2px solid rgb(18, 180, 255);
    border-radius: 0.75em;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    background: rgb(0, 95, 190);
    transform-style: preserve-3d;
    transition: .15s cubic-bezier(0, 0, .6, 1);
}

button::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: rgb(18, 180, 255);
    box-shadow: 0 0 0 2px rgb(18, 180, 255);
    transform: translate3d(0, .50em, -1em);
    transition: .15s cubic-bezier(0, 0, .6, 1);
}
button:hover{
    transform: translate(0, .25em);
}

button:hover::before{
    box-shadow: 0 0 0 2px rgb(160, 225, 255);
    transform: translate3d(0, .25em, -1em);
}
button:active{
    background: orange;
    transform: translate(0, .50em);
}
button:active::before{
    transform: translate3d(0, 0, -1em);
}


.FunTitle{
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 3em;
    font-weight: bold;
}

.FunDescription{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    font-size: 1.1em;
    font-weight: 400;
}

.FunSocialMedia{
    display: block;
    justify-content: center;
    text-align: center;
}
.FunSocialMedia button{
    margin-top: 2em;
}

.FunShowcase{
    margin-top: 50px;
    margin-bottom: 70px;
}

.FunImage img{
    max-width: 95%;
    max-height: 95%;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 5px solid rgb(0, 95, 190);
}

video,
iframe{
    max-width: 100%;
    max-height: 100%;
    margin-top: 25px!important;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 5px solid rgb(0, 95, 190);
}

a{
    color: #ba34eb;
    text-decoration: underline;
}
a:hover{
    color: orange;
}